<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.my.mapper.FrutisMapper" >
  <resultMap id="BaseResultMap" type="com.my.pojo.Frutis" >
    <id column="f_id" property="fId" jdbcType="CHAR" />
    <result column="s_id" property="sId" jdbcType="INTEGER" />
    <result column="f_name" property="fName" jdbcType="CHAR" />
    <result column="f_price" property="fPrice" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    f_id, s_id, f_name, f_price
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from frutis
    where f_id = #{fId,jdbcType=CHAR}
  </select>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from frutis
    where f_id = #{fId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.my.pojo.Frutis" >
    insert into frutis (f_id, s_id, f_name, f_price
      )
    values (#{fId,jdbcType=CHAR}, #{sId,jdbcType=INTEGER}, #{fName,jdbcType=CHAR}, #{fPrice,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.my.pojo.Frutis" >
    insert into frutis
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fId != null" >
        f_id,
      </if>
      <if test="sId != null" >
        s_id,
      </if>
      <if test="fName != null" >
        f_name,
      </if>
      <if test="fPrice != null" >
        f_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fId != null" >
        #{fId,jdbcType=CHAR},
      </if>
      <if test="sId != null" >
        #{sId,jdbcType=INTEGER},
      </if>
      <if test="fName != null" >
        #{fName,jdbcType=CHAR},
      </if>
      <if test="fPrice != null" >
        #{fPrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.my.pojo.Frutis" >
    update frutis
    <set >
      <if test="sId != null" >
        s_id = #{sId,jdbcType=INTEGER},
      </if>
      <if test="fName != null" >
        f_name = #{fName,jdbcType=CHAR},
      </if>
      <if test="fPrice != null" >
        f_price = #{fPrice,jdbcType=DECIMAL},
      </if>
    </set>
    where f_id = #{fId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.my.pojo.Frutis" >
    update frutis
    set s_id = #{sId,jdbcType=INTEGER},
      f_name = #{fName,jdbcType=CHAR},
      f_price = #{fPrice,jdbcType=DECIMAL}
    where f_id = #{fId,jdbcType=CHAR}
  </update>
</mapper>