<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.my.mapper.OperatorMapper" >
  <resultMap id="BaseResultMap" type="com.my.pojo.Operator" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="GENDER" property="gender" jdbcType="INTEGER" />
    <result column="LOGIN_NAME" property="loginName" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="REAL_NAME" property="realName" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
    <result column="FAX" property="fax" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="MSN" property="msn" jdbcType="VARCHAR" />
    <result column="QQ" property="qq" jdbcType="VARCHAR" />
    <result column="ERROR_TIMES" property="errorTimes" jdbcType="INTEGER" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="LOGIN_IP" property="loginIp" jdbcType="VARCHAR" />
    <result column="LOGIN_TIME" property="loginTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="IS_PLATOPERATOR" property="isPlatoperator" jdbcType="INTEGER" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="CP_CODE" property="cpCode" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, GENDER, LOGIN_NAME, PASSWORD, REAL_NAME, PHONE, MOBILE, FAX, EMAIL, MSN, QQ, 
    ERROR_TIMES, UPDATE_TIME, LOGIN_IP, LOGIN_TIME, CREATE_TIME, IS_PLATOPERATOR, STATUS, 
    CP_CODE
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_operator
    where ID = #{id,jdbcType=BIGINT}
  </select>


  <select id="selectByUsername" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from t_operator
    where LOGIN_NAME = #{username,jdbcType=VARCHAR}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_operator
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.my.pojo.Operator" >
    insert into t_operator (ID, GENDER, LOGIN_NAME, 
      PASSWORD, REAL_NAME, PHONE, 
      MOBILE, FAX, EMAIL, 
      MSN, QQ, ERROR_TIMES, 
      UPDATE_TIME, LOGIN_IP, LOGIN_TIME, 
      CREATE_TIME, IS_PLATOPERATOR, STATUS, 
      CP_CODE)
    values (#{id,jdbcType=BIGINT}, #{gender,jdbcType=INTEGER}, #{loginName,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{fax,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{msn,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, #{errorTimes,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{loginIp,jdbcType=VARCHAR}, #{loginTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{isPlatoperator,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{cpCode,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.my.pojo.Operator" >
    insert into t_operator
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="gender != null" >
        GENDER,
      </if>
      <if test="loginName != null" >
        LOGIN_NAME,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="realName != null" >
        REAL_NAME,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="mobile != null" >
        MOBILE,
      </if>
      <if test="fax != null" >
        FAX,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="msn != null" >
        MSN,
      </if>
      <if test="qq != null" >
        QQ,
      </if>
      <if test="errorTimes != null" >
        ERROR_TIMES,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="loginIp != null" >
        LOGIN_IP,
      </if>
      <if test="loginTime != null" >
        LOGIN_TIME,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="isPlatoperator != null" >
        IS_PLATOPERATOR,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="cpCode != null" >
        CP_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="loginName != null" >
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="msn != null" >
        #{msn,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="errorTimes != null" >
        #{errorTimes,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginIp != null" >
        #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null" >
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isPlatoperator != null" >
        #{isPlatoperator,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="cpCode != null" >
        #{cpCode,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.my.pojo.Operator" >
    update t_operator
    <set >
      <if test="gender != null" >
        GENDER = #{gender,jdbcType=INTEGER},
      </if>
      <if test="loginName != null" >
        LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        REAL_NAME = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        FAX = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="msn != null" >
        MSN = #{msn,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        QQ = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="errorTimes != null" >
        ERROR_TIMES = #{errorTimes,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginIp != null" >
        LOGIN_IP = #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null" >
        LOGIN_TIME = #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isPlatoperator != null" >
        IS_PLATOPERATOR = #{isPlatoperator,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="cpCode != null" >
        CP_CODE = #{cpCode,jdbcType=BIGINT},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.my.pojo.Operator" >
    update t_operator
    set GENDER = #{gender,jdbcType=INTEGER},
      LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      REAL_NAME = #{realName,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      FAX = #{fax,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      MSN = #{msn,jdbcType=VARCHAR},
      QQ = #{qq,jdbcType=VARCHAR},
      ERROR_TIMES = #{errorTimes,jdbcType=INTEGER},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      LOGIN_IP = #{loginIp,jdbcType=VARCHAR},
      LOGIN_TIME = #{loginTime,jdbcType=TIMESTAMP},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      IS_PLATOPERATOR = #{isPlatoperator,jdbcType=INTEGER},
      STATUS = #{status,jdbcType=INTEGER},
      CP_CODE = #{cpCode,jdbcType=BIGINT}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>